@{
    ViewData["Title"] = "2019-2020 EPL STANDINGS";
}
@if (User.Identity.IsAuthenticated)
{
<h1>@ViewData["Title"]</h1>

<h4>Soccer teams</h4>
<table border="1" style="width:100%;">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Team Name
            </th>
            <th>
                Display Name
            </th>
            <th>Abbreviation</th>
            <th>Short Display Name</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 10; i++) //CRASHES FOR ANY NUMBER > 10
            {
        <tr>
            <td>@(i+1)</td>
            <td>@Model[i].TeamName</td>
            <td>@Model[i].TeamDisplayName</td>
            <td>@Model[i].TeamAbbreviation</td>
            <td>@Model[i].TeamShortDisplayName</td>
        </tr>
            }
    </tbody>
</table>
}
else
{
<h1>Please log in to see these statistics.</h1>
}
<div class="teams">
    <img src="~/css/EPLinside.jpg" height="700" width="1100" />
</div>